/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
html {
  font-family: 'Montserrat';
  scroll-behavior: smooth;
}

/* line 13, ../sass/screen.scss */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* line 19, ../sass/screen.scss */
main {
  flex: 1 0 auto;
}

/* line 23, ../sass/screen.scss */
section {
  margin-bottom: 60px;
}

/* line 27, ../sass/screen.scss */
h1, h2, h3, h4 {
  font-family: "Open Sans";
}

/* line 31, ../sass/screen.scss */
.btn.white {
  color: #333;
}

/* line 35, ../sass/screen.scss */
#navbar {
  height: 50px;
  background-color: #fff;
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  padding: 0 25px;
  z-index: 99;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
/* line 47, ../sass/screen.scss */
#navbar .logo {
  float: left;
}
/* line 50, ../sass/screen.scss */
#navbar .logo img {
  width: 45px;
  margin: 10px 0;
}
/* line 56, ../sass/screen.scss */
#navbar ul {
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* line 63, ../sass/screen.scss */
#navbar ul li {
  margin: 5px;
}
/* line 65, ../sass/screen.scss */
#navbar ul li a {
  color: #333;
}
/* line 69, ../sass/screen.scss */
#navbar ul li .active {
  border-bottom: 1px solid #333;
}

/* line 76, ../sass/screen.scss */
#splash {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}
/* line 81, ../sass/screen.scss */
#splash .bg {
  filter: brightness(0.7);
}
/* line 85, ../sass/screen.scss */
#splash .info {
  letter-spacing: 2px;
  color: #fff;
  padding-top: 100px;
  padding-left: 40%;
  line-height: 60px;
}
/* line 86, ../sass/screen.scss */
#splash .info h1 {
  font-family: 'Montserrat';
  font-size: 40px;
}
/* line 99, ../sass/screen.scss */
#splash .info .btn {
  margin-top: 20px;
  color: #333;
}
@media screen and (max-width: 769px) {
  /* line 107, ../sass/screen.scss */
  #splash {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
  }
  /* line 113, ../sass/screen.scss */
  #splash .info {
    padding: 0;
    text-align: center;
    line-height: 40px;
  }
  /* line 118, ../sass/screen.scss */
  #splash .info h1 {
    font-size: 26px;
  }
}

/* line 126, ../sass/screen.scss */
#about {
  min-height: 75vh;
  padding-bottom: calc(25vh);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
/* line 135, ../sass/screen.scss */
#about h1 {
  font-size: 40px;
  margin-bottom: 100px;
  text-align: center;
  width: 100%;
}
/* line 142, ../sass/screen.scss */
#about h2 {
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
}
/* line 148, ../sass/screen.scss */
#about i {
  font-size: 68px;
  text-align: center;
  display: block;
  margin: 10px auto;
  color: #777;
}
/* line 157, ../sass/screen.scss */
#about .col img {
  width: 60%;
  display: block;
  margin: 10px auto;
}
/* line 163, ../sass/screen.scss */
#about .col p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
@media screen and (max-width: 769px) {
  /* line 171, ../sass/screen.scss */
  #about {
    min-height: 65vh;
    padding-bottom: 0;
  }
  /* line 175, ../sass/screen.scss */
  #about h1 {
    font-size: 30px;
    margin-bottom: 50px;
  }
  /* line 180, ../sass/screen.scss */
  #about h2 {
    font-size: 25px;
  }
}

/* line 187, ../sass/screen.scss */
#signup {
  min-height: 85vh;
  margin-bottom: 5px;
}
/* line 191, ../sass/screen.scss */
#signup h1 {
  font-size: 36px;
  margin: 10px 15px 20px 15px;
  text-align: center;
}
/* line 197, ../sass/screen.scss */
#signup p {
  font-size: 16px;
  margin: 20px 40px;
  line-height: 24px;
}
/* line 203, ../sass/screen.scss */
#signup .btn {
  display: block;
  width: 200px;
  margin: 0 auto;
}
/* line 209, ../sass/screen.scss */
#signup .row {
  margin-bottom: 0;
}
/* line 213, ../sass/screen.scss */
#signup .col {
  padding: 0;
}
/* line 216, ../sass/screen.scss */
#signup .bg {
  width: 100%;
  min-height: 85vh;
  background: url("https://images.unsplash.com/photo-1506012787146-f92b2d7d6d96?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0d424e0c724d80f5f3b23c02201b8648&auto=format&fit=crop&w=1349&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 225, ../sass/screen.scss */
#signup .modal.open {
  min-height: 50vh;
}
/* line 228, ../sass/screen.scss */
#signup .modal.open .modal-content {
  background-color: #fff;
}
@media screen and (max-width: 769px) {
  /* line 234, ../sass/screen.scss */
  #signup {
    min-height: 55vh;
  }
  /* line 237, ../sass/screen.scss */
  #signup .bg {
    min-height: 55vh;
  }
  /* line 241, ../sass/screen.scss */
  #signup .info {
    margin-top: 20px;
  }
}

/* line 248, ../sass/screen.scss */
footer {
  border-top: 1px solid #ccc;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 254, ../sass/screen.scss */
footer p {
  text-align: center;
}

/* line 259, ../sass/screen.scss */
p.subtext {
  color: #777;
  font-size: 80% !important;
}
